<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Projeto 07 - Chat com Socket.IO</title>
</head>
<body>
	<h1>Chat do Guia</h1>
	<div id="divChat">

	</div>
	<textarea id="textMsg" cols="30" rows="10"></textarea><br>
	<input type="text" id="iptUsername" placeholder="Seu nome de usuário"><br>
	<button type="button" id="btnEnviar">Enviar</button><br>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
	<script>
		const socket = io('http://localhost:4000')

		socket.on('disconnect', () => {
			console.log('Desconectado')
		})

		const textMsg = document.querySelector('textarea#textMsg')
		const iptUsername = document.querySelector('input#iptUsername')
		const divChat = document.querySelector('div#divChat')

		const btnEnviar = document.querySelector('button#btnEnviar')
		btnEnviar.addEventListener('click', enviar)

		socket.on('showmsg', data => {
			let spanUsername = document.createElement('span')
			spanUsername.innerHTML = `<strong>${ data.username }: </strong>`

			let pMsg = document.createElement('p')
			pMsg.appendChild(spanUsername)
			pMsg.innerHTML += data.msg

			divChat.appendChild(pMsg)
		})

		function enviar() {
			

			let msg = textMsg.value
			let username = iptUsername.value

			socket.emit('msg', { msg, username })
		}
	</script>
</body>
</html>