<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Projeto 07 - Chat com Socket.IO</title>
</head>
<body>
	<h1>Chat do Guia</h1>
	<div id="chat">

	</div>
	<input type="text" id="iptMsg"><br>
	<input type="text" id="iptUsername" placeholder="Seu nome de usuário"><br>
	<button type="button" id="btnEnviar">Enviar</button><br>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
	<script>
		const socket = io('http://localhost:4000')

		socket.on('disconnect', () => {
			console.log('Desconectado')
		})

		const btnEnviar = document.querySelector('button#btnEnviar')
		btnEnviar.addEventListener('click', enviar)

		function enviar() {
			let iptMsg = document.querySelector('input#iptMsg')
			let iptUsername = document.querySelector('input#iptUsername')

			let msg = iptMsg.value
			let username = iptUsername.value

			socket.emit('msg', { msg, username })
		}
	</script>
</body>
</html>