<%- include('partials/html-start.ejs') %>
<body>
	<%- include('partials/header.ejs') %>

	<main class="container">
		<h1>Express locals, variáveis globais no Node.js</h1>
		<p><strong>Nome: </strong><%= NOME %>.</p>
	</main>
	
	<%- include('partials/html-end.ejs') %>
</body>